{{> header}}
<div class="page page-current">
<link rel="stylesheet" href="../css/inviteRule.css">
	<div class="wrapper">
		<div class="header">
			<div class="header-bg"></div>
		</div>
		<div class="rule">
			<div class="rule-title">
				<div class="rule-title-bg"></div>
				<label>活动规则说明</label>
			</div>

			<div class="rule-list">
				<div class="rule-item">
					<div class="rule-icon">1</div>
					<div class="rule-text">将本活动页面转发到微信等社交平台分享给好友，好友通过本活动链接注册成功后，您和好友各可获得10元投资红包（使用规则见提示窗口及团宝箱）；</div>
				</div>
				<div class="rule-item">
					<div class="rule-icon">2</div>
					<div class="rule-text">好友在活动期内单笔成功投资满1000元（1个月及以上标的），您的10元红包才可领取使用；</div>
				</div>
				<div class="rule-item">
					<div class="rule-icon">3</div>
					<div class="rule-text">每人最多可向40个好友派发红包；</div>
				</div>
				<div class="rule-item">
					<div class="rule-icon">4</div>
					<div class="rule-text">通过本页面成功邀请好友同样可享受<a class="triple-gifts external" href="http://www.baidu.com">3重大礼包</a></div>
				</div>
				<div class="rule-item">
					<div class="rule-icon">5</div>
					<div class="rule-text">所获得红包可在领取后登陆个人中心-团宝箱查询；</div>
				</div>
				<div class="rule-item">
					<div class="rule-icon">6</div>
					<div class="rule-text">本活动最终解释权归团贷网所有，如活动期间发现任何作弊行为，团贷网将取消其参与资格并收回所发奖励。</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer}}